/* Global Styles */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

/* Konten Tentang Saya */
.kolom-about, .kolom-picture {
    text-align: center;
    margin: 20px;
}

.kolom-picture img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50; /* Warna yang lebih elegan */
    padding: 15px 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Shadow untuk memberikan depth */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.main-nav {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.main-nav li {
    margin-left: 25px;
}

.nav-links {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-links:hover {
    background-color: #1abc9c;
    transform: translateY(-2px);
}

/* Kontak dan Ucapan Section */
#kontak, #ucapan {
    margin: 30px 0;
    text-align: center;
}

#kontak h2, #ucapan h2 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #2c3e50;
}

#kontak p, #ucapan p {
    font-size: 18px;
    color: #7f8c8d;
}

/* Name and Social Media */
.profile-image {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    border-radius: 50%;
    background-image: url('Wa\ muka.jpeg');
    background-size: cover;
    background-position: center;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.name-box {
    width: 400px;
    background-color: #2c3e50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    border-radius: 30px;
    font-size: 22px;
    font-weight: 500;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.social-logo {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-logo:hover {
    transform: scale(1.1);
}

/* Date-Time Box */
.date-time-box {
    width: 200px;
    background-color: #2c3e50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
